<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <sessionState cookieless="false" mode="InProc" regenerateExpiredSessionId="true" timeout="15" />
    <!-- Commented out only in development -->
    <!-- <httpCookies requireSSL="true"/> -->
    <httpRuntime encoderType="System.Web.Security.AntiXss.AntiXssEncoder" />
  </system.web>
  <location path="CallCenter">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="CallCenter"/>
      </authorization>
    </system.web>
  </location>
  <location path="Handlers">
    <system.web>
      <authorization>
        <allow users="?"/>
        <!--<deny users="?"/>
        <allow roles="Customer"/>
        <allow roles="Admin"/>-->
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
  </location>
  <location path="AdminPortal">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Management"/>
      </authorization>
    </system.web>
  </location>
  <location path="ContentManagement">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Management"/>
      </authorization>
    </system.web>
  </location>
  <location path="SearchInfo">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Customer" />
        <allow roles="CallCenter"/>
      </authorization>
    </system.web>
  </location>
  <location path="SavingsChoice">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Customer" />
        <allow roles="CallCenter"/>
      </authorization>
    </system.web>
  </location>
  <location path="Avaya">
    <system.webServer>
      <defaultDocument enabled="true">
        <files>
          <add value="Default.htm"/>
        </files>
      </defaultDocument>
    </system.webServer>
  </location>
  <connectionStrings>
    <remove name="LocalMySqlServer"/>
    <remove name="LocalSqlServer"/>
    <!-- DEV SERVER  -->
    <add connectionString="Server=199.79.49.163\dev01,11433;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
    <add connectionString="Server=199.79.49.163\dev01,11433;Database=CCH_HealthGrades;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=199.79.49.163\dev01,11433;Database=CCH_Demo;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=199.79.49.163\dev01,11433;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="LocalSqlServer"/> 
    
    <!-- Processing SERVER 
    <add connectionString="Server=199.79.49.163;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
    <add connectionString="Server=199.79.49.163;Database=CCH_HealthGrades;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=199.79.49.163;Database=CCH_Demo;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=199.79.49.163;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="LocalSqlServer"/> -->
    
    <!-- Old ALPHA Server
    <add connectionString="Server=livedb.clearcosthealth.com;Database=CCH_FrontEndAlpha;User Id=samb01sa;Password=rahf6xeeSox3;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
    <add connectionString="Server=livedb.clearcosthealth.com;Database=CCH_HealthGrades;User Id=samb01sa;Password=rahf6xeeSox3;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=livedb.clearcosthealth.com;Database=CCH_Demo;User Id=samb01sa;Password=rahf6xeeSox3;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=livedb.clearcosthealth.com;Database=CCH_FrontEndAlpha;User Id=samb01sa;Password=rahf6xeeSox3;" name="LocalSqlServer"/>  -->
    
    <!-- Live Server 
    <add connectionString="Server=livedb.clearcosthealth.com;Database=CCH_FrontEnd2;User Id=samb01sa;Password=rahf6xeeSox3;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
    <add connectionString="Server=livedb.clearcosthealth.com;Database=CCH_HealthGrades;User Id=samb01sa;Password=rahf6xeeSox3;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=livedb.clearcosthealth.com;Database=CCH_Demo;User Id=samb01sa;Password=rahf6xeeSox3;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=livedb.clearcosthealth.com;Database=CCH_FrontEnd2;User Id=samb01sa;Password=rahf6xeeSox3;" name="LocalSqlServer"/> -->
    
    <!-- ALPHA SERVER  
    <add connectionString="Server=alphadb.clearcosthealth.com;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_FrontEnd" providerName="System.Data.SqlClient" />
    <add connectionString="Server=alphadb.clearcosthealth.com;Database=CCH_HealthGrades;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_HealthGrades" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=alphadb.clearcosthealth.com;Database=CCH_Demo;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="CCH_DemoConnectionString" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=alphadb.clearcosthealth.com;Database=CCH_FrontEnd2;User Id=samb01sa;Password=de2Aiyoomie5ahw6;" name="LocalSqlServer"/> -->
    
  </connectionStrings>
  <system.web>
    <roleManager enabled="true"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms 
          loginUrl="Sign_In.aspx" 
          defaultUrl="~/SearchInfo/Search.aspx" 
          timeout="15" 
          slidingExpiration="true" 
          protection="All" />
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="Err.aspx">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Sign_In.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider,System,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>
